.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    background: linear-gradient(#c4bb40,black);
    border-radius: 15px;
    padding: 25px;
    

}

#display {
    grid-column: span 4;
    border: 1px solid black;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;
    background: white;
    
    
}

.column_2 {
    grid-column: span 2;
}

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 35px;
    border: none;
    background: red;
    font-size: 25px;
    color: aqua;
    font-family: digital-7;
}

button:active {
    background: #701717;
}

