/* 2. selector por clase*/
.titulos { 
    color: red;
    font-size: 30px;
    background: blue;

}

/* 3. Selector por ID*/

#id_titulo {
    color: black;
    background: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 4. Pseudo Clase (eventos)*/
i:hover {
    color: blue;
    font-size: 50px;
}

input:focus {
    border: 20px solid yellow;
    background: red;
}

/* 5. Por atributo*/

[id] {
    color: red;
    font-size: 40px;
}

img[alt*="UCE"] {
    width: 80px;
    height: 50px;
}
