.Container {
    display: flex;
    justify-content: center;
}

.Formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

.card_info {
    display: flex;
    flex-direction: row;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px;
    gap: 20px;


}

h1 {
    color: #7a53e2;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}

/* habilite el contenido del attributo type*/
p:before {
    content: attr(type);
    display: block;
    /* hace que ocupe el bloque completo y no lo comparta con nadie, el otro elemento se pone arriba*/
    font-size: 15px;
    color: #706f6c;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
    margin-bottom: 10px;

}

.centrar-boton {
    display: flex;
    justify-content: center;
    border-radius: 4px
}

input {
    border-color: rgb(223, 222, 222);
    border-radius: 4px;
    border-style: solid;
    padding: 10px;

}

#id_Cardoholder_Nme {
    width: 300px;
    background-image: url('../img/symbole-masculin-icone-l-utilisateur-gris.png');
    background-size: 18px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
}

#id_Card_number {
    width: 300px;
    background-image: url('../img/icone-tarjet.png');
    background-size: 18px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
}

#id_Exp_Date {
    width: 120px;
    background-image: url('../img/icone-de-calendrier-gris.png');
    background-size: 18px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
}

#id_cvv {
    width: 120px;
    background-image: url('../img/icone-de-cadenas-de-securite-gris.png');
    background-size: 18px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img[alt="img"] {
    width: 300px;
    height: 200px;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    /*width: 300px;*/
    background: #7a53e2;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 20px;
}